*.suo
BotCore/bin/
BotCore/obj/
DbPlugins/bin/
DbPlugins/obj/
ExtraPlugins/bin/
ExtraPlugins/obj/
HelpPrinter/bin/
HelpPrinter/obj/
Libs/
MikuBot/bin/
MikuBot/obj/
MikuBotDbModel/bin/
MikuBotDbModel/obj/
MikuBotGui/bin/
MikuBotGui/obj/
MikuBotSite/bin/
MikuBotSite/obj/
MikuBotSite/packages/
packages/
VocaVoterConnector/obj/
VocaVoterConnector/bin/
MikuBot/appsettings.config
MikuBot/connections.config
MikuBotSite/connections.config
MikuBotSite/appsettings.config
*.user
MikuBotSite/.vs/
/.vs/MikuBot/v15/sqlite3/storage.ide
/MikuBotSite/UpgradeLog.htm
/.vs/MikuBot/v15
