<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_QueryService"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:39390/Services/QueryService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_QueryService" contract="VocaDbServices.QueryService" name="BasicHttpBinding_QueryService"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
